.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.carousel {
  position: relative;
  width: 900px;
  height: 320px;
}

.card {
  position: absolute;
  width: 200px;
  height: 260px;
  border-radius: 14px;
  overflow: hidden;
  background: #111;
  text-align: center;
  transition: all 0.4s ease;
  opacity: 0.5;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h4 {
  margin: 10px 0;
  color: white;
  font-size: 14px;
}

/* Positions */
.center {
  left: 350px;
  transform: scale(1.25);
  z-index: 5;
  opacity: 1;
}

.left1 {
  left: 200px;
  transform: scale(1);
  z-index: 4;
  opacity: 0.8;
}

.right1 {
  left: 500px;
  transform: scale(1);
  z-index: 4;
  opacity: 0.8;
}

.left2 {
  left: 80px;
  transform: scale(0.85);
  z-index: 3;
}

.right2 {
  left: 620px;
  transform: scale(0.85);
  z-index: 3;
}

.nav-btn {
  background: none;
  color: white;
  font-size: 26px;
  border: none;
  cursor: pointer;
  padding: 0 15px;
}
